@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.income-alert,
.outcome-alert {
    display: none;
    transition: transform 0.5s ease; 
    transform-origin: center bottom;
}
.income-alert {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: black;
    background-color: whitesmoke;
    color: #5a6a4f;
    border-radius: 10px;
    padding: 20px;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.income-alert .close {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color:#5a6a4f;
    background-color: whitesmoke; 
    padding: 3px 12px;
    border-radius: 5px;
    float: right;
    line-height: 1;
}

.income-alert .close:hover {
    opacity: 0.7;
}

.outcome-alert {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: black;
    background-color: whitesmoke;
    color: #911c2b;
    border-radius: 10px;
    padding: 20px;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outcome-alert .close {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color:#911c2b;
    background-color: whitesmoke; 
    padding: 3px 12px;
    border-radius: 5px;
    float: right;
    line-height: 1;
}

.outcome-alert .close:hover {
    opacity: 0.7;
}